@page "/weather"
@using Authentication.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

<AuthorizeView>
	<Authorized>

		@if (Users == null)
		{
			<p><em>Loading...</em></p>
		}
		else
		{
			<small>Count : @Users.Count()</small>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Password</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Users)
					{
						<tr>
							<td>@user.UserName</td>
							<td>@user.Email</td>
							@* <td>@user.Password.Substring(0, 10)..</td> *@
							<td @onclick="() => OpenAddEditModal(user.Email)">Edit</td>
						</tr>
					}
				</tbody>
			</table>
		}

		<Loader IsLoading="@isLoading"></Loader>

		@if (isOpenModal)
		{
			<UserAddEditModal Email="@selectedEmail" IsClosed="() => isOpenModal =false" />
		}

	</Authorized>
	<NotAuthorized>
		<h3>You have logged out!</h3>
	</NotAuthorized>
</AuthorizeView>

