@page "/weather"
@using Authentication.Shared.Model
@using Authentication.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@* @attribute [Authorize]
 *@


<h3>User Dashboard</h3>
<div class="align-items-md-center d-flex justify-content-between mb-2 mt-5">
	<p>Count : @Users.Count()</p>
	<button class="btn btn-primary" @onclick="() => {selectedEmail = string.Empty; isOpenModal = true;}">Add User</button>
</div>

@if (!Users.Any())
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Users)
			{
				<tr>
					<td>@user.FullName</td>
					<td>@user.Email</td>
					<td>@user.Role</td>
					<td @onclick="() => OpenAddEditModal(user.Email)">Edit</td>
				</tr>
			}
		</tbody>
	</table>
}

<Loader IsLoading="@isLoading"></Loader>

@if (isOpenModal)
{
	<UserAddEditModal Email="@selectedEmail" IsClosed="() => isOpenModal =false" />
}
